header{
    background: #030303;
    color: #fdfdfd;
    font-family: 'New Rocker', cursive;
    padding: 0.3rem 5%;
    position: fixed;
    text-transform: uppercase;
    width: 90%;
    z-index: 100; 
}
.header__container{
    align-items: center;
    display: flex;
    width: 90%;
}
.header__identificacao {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header__titulo {
    font-size: 1.10rem;
}

.header__subtitulo {
    font-size: 1rem;
}
.nav__lista {
    display: flex; 
    align-items: center;
}

.nav__item {
    font-size: 1.4rem;
    margin: 1rem;
    text-align: center;
}
.nav__link {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.ativo {
    cursor:grab;
    color: #dddddd;
}

@media screen and (max-width: 640px){
    .header__container {
        justify-content: center;    
    } 
    .header__identificacao {
        display: none;
    } 
}


@media screen and (min-width: 640px){
    .header__container{
        justify-content: space-between;       
    }  
}
