.apresentation__bandas{
    padding-bottom: 2rem;
    overflow: hidden;
    width: 100%;
}

.apresentation__bandas___slider{
    box-shadow: 10px 0 10px #000;   
    margin-top: 1rem;
    position: relative;
}

.apresentation__bandas___slides{
    display: flex;
    margin-left: 0px;
    transition: all 1s;
    width: 1100%;
}

.apresentation__bandas___slide{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 12% 73% 15%;
    height: 350px;
    margin-left: 0;
    width: 9.091%;
}
.bandas__slide___title-div{
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
}
.bandas__slide___title{
    color: #fdfdfd;
}

.slides__control-buttons{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
}
#next-slide__button{
    right: 2vw;   
}
#previous-slide__button{
    left: 2vw;
}

@media screen and (min-width:560px){
    .apresentation__bandas___slides{
        width: 550%;
    }
}
@media screen and (min-width:860px){
    .apresentation__bandas___slides{
        width: 275%;
    }

}
