.banner{
    background-image: url(../../Img/2022/banner.png);
    background-repeat: none;
    background-position: center;
    background-size: cover;  
    height:  calc(100vh - 6.5rem); 
    padding-top: 4rem;
    max-width: 100vw;
}
.banner__content{
    align-items: center;
    backdrop-filter: brightness(30%);
    color: #fdfdfd;
    display: flex;
    flex-direction: column; 
    font-family: 'new rocker', cursive;
    height: 100%;
    justify-content:space-around;
    text-align: center;
    width: 100%;
}
.banner__title{
    margin: 0 0.5rem; 
    font-size: 2.25rem;
}
.banner__img{
    max-width: 100%;
    width: 27.5rem;
}
.banner__subtitle{
    margin: 0 0.5rem; 
    font-size: 1.5rem;
}
.banner__subtitle___level2{
    margin 0;
    font-size:1.25rem;
}

@media screen and (min-width:1080px) {
    .banner{
        height:  calc(100vh - 4rem); 
    }
    .banner__title{
        font-size: 3rem;
    }
    .banner__subtitle{
        font-size: 2rem;
    }
}
